body {
	background-color: rgba(128, 128, 128, .6);
}
h1 {
	color: white;
	text-align: center;
}

input {
	height: 1rem;
	padding: 1rem;
}

#inputdiv {
	justify-content: center;
	align-items:center;
	display: flex;
}

#container {
	display:flex;
	background-color: rgba(120, 120, 120, .7);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid black 1px;
	min-width: 20rem;
	min-height: 10rem;
	margin: 1rem;

}

#tasks {
	border: solid black 1px;
	display: flex;
	flex-direction: row;
	background-color: rgba(128, 0, 0, .5);
	min-width: 15rem;
	margin: .3rem;
}

h2, h3, h4, h5, h6 { 
	color: white;
	text-align: center;
	padding: 1rem;
}

p {
	font-family: verdana;
	font-size: 1.2rem;
}
.inputbutton {
	background-color: blue;
	color: black;
	border-radius: .2rem;
	padding: 1rem;
}
.button {
	background-color: blue;
	color: black;
	border-radius: .2rem;
	padding: 1rem;
	margin-left: auto;
}